*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* header */

header h1 {
    font-size: 0px;
}

header #logo {
    float: left;
}

header .nav ul li {
    margin-left: 25px;
    text-decoration: none;
    display: inline-block;
}

header {
    height: 185px;
    width: 100%;
    display: block;
    padding: 67px 0px 67px 0px;
}

header .nav {
    float: right;
}

.clear {
    clear: both;
}

.container {
    width: 80%;
    margin: auto;
}

/* section 1 */

.green {
    background-color: #3db39e;
    color: #fff;

}
.green .container {
    position: relative;
    min-height: 635px;
}

.landing {
    width: 460px;
    height: 635px;
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    line-height: 30px;
}

.landing p {
    padding: 35px 0 0;
    margin-bottom: 40px;
}
.landing h2 {
    font-size: 55px;
    line-height: 60px;
    font-weight: bold;
    text-transform: uppercase;
}

.green .container img {
    position: absolute;
    bottom: -12px;
    right: 20px;
}

#button {
    display: inline-block;
    height: 52px;
    text-decoration: none;
    padding: 0 30px;
    background: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.15s linear;
    color: #26a6d1;
    line-height: 52px;
    font-weight: bold;
    font-size: 20px;
}
#link {
    color: #ffffff;
    font-size: 20px;
    line-height: 52px;
    font-weight: bold;
    margin: 0 0 0 35px;
    text-transform: uppercase;
}

/* section 2 */

.wite {
    background-color: #fff;
    color: #000;
    text-align: center;
}
.title {
    text-align: center
}
h3{
    font-size: 30px; 
    margin-bottom: 30px;
    color: #324d5b;
}
.title p {
    font-size: 17px;
    margin-bottom: 90px;
    color: #6a6a6a;
}

.white {
    margin: 115px 0 60px;
}
.easy {
    float: left;
    width: 33%;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    padding: 0 25px;
    margin: 0 0 50px;
    box-sizing: border-box;
} 
.easy p {
    color: #2b414d;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin: 0 0 42px;    
}
.easy span {
    font-size: 14px;
    color: #696969;
}
.line {
    background-color: #ccd0d2;
    display: block;
    width: 20px;
    height: 2px;
    position: relative;
    left: 175px;
    bottom: 25px;
}


/* section 3 carousel */

.carousel {
    background: #f6f6f6;
    display: block;
}
h5 {
    font-size: 30px;
    color: #324d5b;
}
.text p {
    margin-top: 40px; 
    font-size: 17px;
    color: #6a6a6a;
    line-height: 25px;
}

.carousel .container img {
    float: left;
    margin: 120px 0px 0px 0px;
}
.text {
    position: relative;
    left: 115px;
    top: 200px;
}
.x {
    position: relative;
    right: 640px;
    top: 150px;
}

.selectors li {
    display: inline;
    text-decoration: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    float: right;
    background-color: #cbcfd1;
    margin: 0 13px 13px 0;
    transition: 0.7s;
}

.selectors li.active {
    background-color: #3db39e;
}

.box {
    display: none;
}
.visible {
    display: block;
}


/* section 4 */

.discover {
    text-align: center;
    padding: 105px 0 95px;
}

.discover p {
    margin: 40px 60px 15px;
    font-size: 17px;
    color: #6a6a6a;
}
.discover h4 {
    font-size: 30px;
    color: #324d5b;
}

/*section 5 subscribe */

.subscribe {
    background: #26a6d1;
    text-align: center;
    color: #ffffff;
    padding: 105px 0 115px;
}
.subscribe h6 {
    font-size: 30px;
    line-height: 40px;
}
.form {
    display: inline-block;
}
.subscribe span {
    text-align: center;

}

.email {
    border: 0;
    width: 400px;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    padding: 15px;
    background: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
}

.btSubscribe {
    border: 0;
    width: 160px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #26a6d1;
    background: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    box-sizing: border-box;
}

/* footer */


footer {
    padding: 90px 0;
}

footer .logo {
    float: left;
    margin: 0 95px 0 0;
}

footer .logo img {
    display: block;
}

.apple {
    float: left;
    position: relative;
    line-height: 36px;
    text-align: center;
    margin: 8px 62px 8px 0;
}

.apple a {
    position: relative;
    display: inline-block;
    line-height: 36px;
    font-size: 14px;
    padding: 0 0 0 47px;
}
.copy {
    float: left;
    font-size: 14px;
    line-height: 36px;
    margin: 8px 0;
}

.copy a {
    color: #3db39e;
    font-weight: bold;
}
.social {
    
}
.d-block{
    display: block;
}

.social {
    float: right;
    padding: 2px 0;
}

.social li {
    float: left;
    margin: 0 0 0 22px;
    display: inline;
}

.social li a {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}




/* mobile */

@media (max-width: 479px) {
    body {
        word-wrap: break-word;
    }
    header .nav{
        display: none;
    }
    .green div img {
        display: none;
    }
    .easy {
        display: inline;
    }
    .discover p {
        margin-left: 0;
        margin-right: 0;
    }
    .email {
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }
    .btSubscribe {
        width: 100%;
    }
    .subscribe p {
        margin-bottom: 30px;
    }
    .form {
        margin-bottom: 30px
    }
}
